<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>患者查詢</title>

	<link href="./stylesheets/bootstrap.min.css" rel="stylesheet" />
	<link href="./stylesheets/bootstrap-theme.min.css" rel="stylesheet" />
	<link href="./stylesheets/Site.css" rel="stylesheet" />

	<script src="./javascripts/jquery-1.9.1.min.js"></script>
	<script src="./javascripts/bootstrap.min.js"></script>
	<script src="./javascripts/angular.js"></script>
	<script src="./javascripts/ui-bootstrap-tpls-0.13.0.min.js"></script>
	<script src="./javascripts/app.js"></script>
</head>
<body ng-app='myApp' ng-controller="patientCtrl">
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="./index.html">患者查詢</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li><a href="./index.html">首頁</a></li>
					<!--<li><a href="/Home/About">關於</a></li>
					<li><a href="/Home/Contact">連絡方式</a></li>-->
				</ul>
			</div>
		</div>
	</div>
	<div class="container body-content">
		<div class="row">
			<div class="col-lg-12 form-inline">
				<input ng-model="searchText" class="form-control" placeholder="可查詢任何資料..." />
				<!--<button type="submit" class="btn btn-success">查詢</button>-->
			</div>
		</div>
		<div class="table-responsive">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>編號</th>
						<th>縣市別</th>
						<th>收治單位</th>
						<th>檢傷編號</th>
						<th>姓名</th>
						<th>性別</th>
						<th>國籍</th>
						<th>年齡</th>
						<th>醫療檢傷</th>
						<th>救護檢傷</th>
						<th>即時動向</th>
						<th>轉診要求</th>
						<th>刪除註記</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="patient in filteredPatients | filter:searchText">
						<td>{{patient['編號']}}</td>
						<td>{{patient['縣市別']}}</td>
						<td>{{patient['收治單位']}}</td>
						<td>{{patient['檢傷編號']}}</td>
						<td>{{patient['姓名']}}</td>
						<td>{{patient['性別']}}</td>
						<td>{{patient['國籍']}}</td>
						<td>{{patient['年齡']}}</td>
						<td>{{patient['醫療檢傷']}}</td>
						<td><span class="label" ng-class="statusClass(patient['救護檢傷'])">{{patient['救護檢傷']}}</span></td>
						<td>{{patient['即時動向']}}</td>
						<td>{{patient['轉診要求']}}</td>
						<td>{{patient['刪除註記']}}</td>
					</tr>
				</tbody>
			</table>
			<pagination boundary-links="true"
						max-size="10"
						items-per-page="itemsPerPage"
						total-items="patients.length"
						ng-model="currentPage"
						ng-change="pageChanged()"></pagination>
		</div>
		<hr />
		<footer>
			<p>&copy;2015 HotchLin</p>
		</footer>
	</div>
</body>
</html>
